
  body{
    background-color:grey;
  }
  #joystick{
    position: absolute; 
    right: 10px; 
    border: 1px solid;
  }
  #output{
    width:45%;
    height:100%;
    position:absolute;
    left:5%;
    top:0%;
  }
  #saida {
    width:90%;
    height:40%;
    color:white;
    background-color:black;
  }
  #entrada{
    width:90%;
    height:5%;
    color:white;
    background-color:black;    
  }
  #funcao{
    min-width:100px;
    min-height:10px;
    color:white;
    background-color:black;    
  }
  #form{
    width:100%;
    height:50%;
  }
  #ip{
    max-height:16px;
    max-width:300px;
    min-width:200px;
    color:white;
    background-color:black;
  }
  #conectar{
  vertical-align: middle;
  }
  #elementos{
    width:90%;
  }